<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список сотрудников</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.mask.min.js"></script>
  </head>
  <body>  
  <noscript>
    <center><h3>В вашем браузере отключенно выполнение javascript. Дальнейшая работа невозможна!</h3></center>
  </noscript>       
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/"><img src="/images/logo.png" height="50"></a>
        </div>         
      </div>
    </nav>

